<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/jquery.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #loginBox{
            width: 30%;
            height:200px;
            border-radius: 15px ;
            box-shadow: 0 0 5px silver;
            margin:10% auto;
            padding:10px 50px 10px 0px;
        }
        #bg{
            background-image: url("http://localhost:8081/gymBooking/images/admin/adminlogin2.jpg");
        }
        #loginBox{
            background: rgba(0,0,0,0.5);
            color:white;
        }
        #btn{
            width: 30%;
        }
    </style>
</head>
<body class="layui-layout-body " id="bg">
   <div id="loginBox">
       <div class="layui-form" >
           <center><h2>体育馆预约系统管理端</h2></center>
           <br>
           <div class="layui-form-item">
               <label class="layui-form-label">手机号：</label>
               <div class="layui-input-block">
                   <input type="tel" name="username" id="username" required  lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
               </div>
           </div>
           <div class="layui-form-item">
               <label class="layui-form-label">密码：</label>
               <div class="layui-input-block">
                   <input type="password" id="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
               </div>
           </div>
           <div class="layui-form-item">
              <center> <button class="layui-btn" id="btn">登录</button></center>
           </div>
       </div>
   </div>
</body>
</html>
<script th:fragment="layuiInit">
    //JavaScript代码区域
    var element,layer;
    layui.use(['element','layer'], function () {
        element = layui.element;
        layer = layui.layer;
        $("#btn").click(function (e) {
            if ($("#username").val()==null || $("#username").val() ===""){
                layer.msg("请填写手机号")
                return false;
            }
            if ($("#password").val()==null || $("#password").val() ===""){
                layer.msg("请填写密码")
                return false;
            }
            $.ajax({
                url: "/gymBooking/login/doLogin",
                type: 'POST',
                dataType: 'json',
                data: {
                    phone:$("#username").val(),
                    password:$("#password").val()
                },
            }).done(function(data) {
                //console.log("success");
                console.log(data);
                if(data.code==20000){
                    layer.msg("登录成功",{time:1500,anim:0},function(){
                        window.location.href="/gymBooking/welcome/welcome";
                    });
                }else{
                    layer.msg("登录失败，请检查账号密码",{time:1500,anim:0});
                }
            }).fail(function() {
                console.log("error");
                layer.msg("登录失败，请检查账号密码");
            });
        });
    });
</script>
