<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预约记录页面</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/jquery.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style></style>
</head>
<body class="layui-layout-body">
<div class="layui-row layui-col-space10 layui-form">
    <div class="layui-col-md2">
        <div class="grid-demo grid-demo-bg2">
            <input type="tel" name="venueCategoryName" id="venueCategoryName" placeholder="场地类别名称"  class="layui-input">
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="grid-demo grid-demo-bg2">
            <button type="button" id="starting_findAdminBtn" class="layui-btn ">
                <icon class='layui-icon'>&#xe615;</icon>开始搜索
            </button>
        </div>
    </div>
    <div class="layui-col-md1">
        <div class="grid-demo grid-demo-bg1">
            <button type="button" id="clearSearch" 	class="layui-btn layui-btn-primary">
                <icon class='layui-icon layui-icon-refresh-3'></icon>清空
            </button>
        </div>
    </div>
</div>

<table class="layui-hide" id="starting_useingActivitysList" lay-filter="starting_useingActivitysList" ></table>
<script type="text/html" id="starting_toolbarDemouseingActivity">
    <div class="layui-btn-container">
        <button  class="layui-btn layui-btn-sm" id="insertBtn"  lay-event="insertBtn" title="添加类别">
            <icon class='layui-icon'>&#xe61f;</icon>添加类别
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" id="starting_getCheckData" lay-event="starting_getCheckData"  title="删除已选项">
            <icon class='layui-icon'>&#xe640;</icon>删除已选项
        </button>
    </div>
</script>

<!--详情-->
<div id="showinfo" style="display: none;" class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">场地类型名称:</label>
            <div class="layui-input-inline">
                <div id="showVenueCategoryName"></div>
            </div>
        </div>
        <div class="layui-inline" id="optionBtnBox" style="width: 90%;">

        </div>
    </div>
</div>

</body>
</html>
<script th:inline="javascript">
    var element,layer,form,layedit,laydate,table;
    $(function () {
        layui.use(['element', 'form','laydate', 'table', 'layer'], function () {
            element = layui.element;
            form = layui.form;
            table = layui.table;
            layer = layui.layer;
            laydate = layui.laydate;
            element.init();
            form.render();



            //显示列表
            var cols = [
                {type: 'checkbox', width: "5%"},
                {field: 'id', title: 'ID', width: "5%"},//
                {field: 'venueCategoryName', title: '名称' },
                {
                    title: '操作', width:180, templet: function (data) {
                        return "<button title='修改' class='layui-btn  layui-btn-warm layui-btn-xs' onclick='updateopen("+data.id+")'>" +
                            "修改" +
                            "</button>" +
                            "<button  title='删除记录' class='layui-btn layui-btn-danger layui-btn-xs' onclick='deleteOne(\"/gymBooking/venueCategoryApi/deleteOne\"," + data.id + ")'>" +
                            "删除" +
                            "</button>";
                    }
                }];
            Dbtable("#starting_useingActivitysList", "/gymBooking/venue/venueCategoryList", "#starting_toolbarDemouseingActivity",
                "场地列表", null, cols,{page:1,limit:10});

            /**
             * 批量删除
             * */
            DELALl($("#starting_getCheckData"),"toolbar(starting_useingActivitysList)","/gymBooking/venueCategoryApi/deleteAll");


            /**
             * 模糊查找  adminName adminSex adminStatus adminPhone
             * */
            //清空
            $("#clearSearch").click(function () {
                history.go(0)
            });
            $("#starting_findAdminBtn").click(function(){
                var toolid = "#starting_toolbarDemouseingActivity";
                var url="/gymBooking/venue/venueCategoryList";
                var tableid="#starting_useingActivitysList";
                var tableNAame="场地列表";
                if(
                    ($("#venueCategoryName").val()==""||$("#venueCategoryName").val()==null||$("#venueCategoryName").val().length<=0 )
                ){
                    Dbtable(tableid,url,toolid,tableNAame,null,cols);

                }else{
                    var where ={};

                    if(!$("#venueCategoryName").val()==""||!$("#venueCategoryName").val()==null||!$("#venueCategoryName").val().length<=0){
                        where.venueCategoryName=$("#venueCategoryName").val();
                    }

                    Dbtable(tableid,"",toolid,tableNAame,like(url,where).data,cols);
                }
            });


            /**
             * 添加
             * */
            $("#insertBtn").click(function () {
                $('#showinfo').hide();

                $("#showVenueCategoryName").css({"margin":"10px 0 0 0"}).html('<input type="tel" name="showVenueCategoryName_add" id="showVenueCategoryName_add" placeholder="类型名称"  class="layui-input">')

                var index = layer.open({
                    type: 1,
                    title:'添加',
                    content: $('#showinfo') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
                $("#optionBtnBox ").html('<center><button class="layui-btn" id="add" onclick="add('+index+')">添加</button></center>')
                form.render()
            })
        });
    });
    /**点击表格中的删除按钮*/
    function deleteOne(url,id) {
        layer.confirm('确定要删除吗？',{icon: 3, title:'警告'}, function(index){
            doSomethingOnTable(url,id,"delete")
            layer.close(index);
        });
    }
    /**
     * 添加成功之后刷新
     * */
    function reloadFromChild() {
        window.location.reload();
    }


    /**表格中的事件*/
    function doSomethingOnTable(url,id,sign) {
        $.ajax({
            url:url,
            type: 'POST',
            dataType: 'json',
            traditional:true,
            data: {
                id:id
            },
        }).done(function(data) {
            setToast(data.code,'delete');
        }).fail(function(data) {
            setToast(data.code,'delete');
        });
    }
    /**数据表格*/
    function Dbtable(tableId,DbUrl,toolId,TBtitle,data,cols,where={page:1,limit:10}) {
        //console.log(changeDate(1590940800));
        table.render({
            elem: tableId,
            url: DbUrl,
            toolbar: toolId,
            title: TBtitle,
            method: 'POST',
            //where:where,
            page: true,
            limit: 10,
            limits: [5, 7, 8, 10],
            groups: 5,
            defaultToolbar: ['print'],//删除工具栏默认工具'filter','print',
            data: data,
            cols: [cols],
            request:function(e){
                console.log("table re",e);
            },
            done: function (e) {
                console.log("table data",e);
                return e
            }
        });
    }

    /**事件执行显示结果*/
    function setToast(data,sign) {
        if(data==20000){
            if(sign==="delete"){
                layer.msg("删除成功", {icon:6,time:1500},function(){
                    window.location.reload();
                });
            }
        }else{
            if(sign==="delete"){
                layer.msg("删除失败", {icon:2,time:1500},function(){
                    window.location.reload();
                });
            }
        }
    }

    /*
    * 批量删除
    * */
    function DELALl(selector,tablebar,url) {
        //批量删除
        var id_arr=[];//数组
        $(selector).click(function(){
            table.on(tablebar, function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                console.log(checkStatus);

                if(checkStatus.isAll===true){
                    //console.log("全选");
                    $(checkStatus.data).each(function(index,element){
                        id_arr[index]=element.id;
                    });
                    if(id_arr.length==0){
                        layer.msg("未选择");
                        id_arr=[];
                    }else{
                        layer.confirm('确定批量删除吗？请谨慎操作！',{icon: 3, title:'警告'}, function(index){
                            deleteFlaseGroup(url,id_arr);
                            layer.close(index);
                            id_arr=[];
                        });
                    }
                }

                if(checkStatus.isAll===false){
                    //console.log("单选");
                    $(checkStatus.data).each(function(index,element){
                        id_arr[index]=element.id;
                    });
                    if(id_arr.length==0){
                        layer.msg("未选择");
                        id_arr=[];
                    }else{
                        layer.confirm(
                            '确定批量删除吗？请谨慎操作！',
                            {icon: 3, title:'警告'},
                            function(index){
                                deleteFlaseGroup(
                                    url,
                                    id_arr
                                );
                                layer.close(index);
                                id_arr=[];
                            });
                    }
                }
            });
        });
    }
    //批量删除
    function deleteFlaseGroup(url,id_arr){
        //console.log(id_arr);
        $.ajax({
            url:url,
            type: 'POST',
            dataType: 'json',
            traditional:true,
            data: {
                ids:id_arr//JSON.stringify(id_arr)
            },
        }).done(function(data) {
            //console.log("ajax返回:")
            //console.log(data);
            setToast(data.code,'delete');
        })
            .fail(function(data) {
                //console.log('error');
                //console.log(data);
                setToast(data.code,'delete');
            });
    }
    /**
     * 模糊搜索查到的数据
     * */
    function like(url,data) {
        var obj=null;
        $.ajax({
            url:url,
            type: 'POST',
            dataType: 'json',
            traditional:true,
            data:data,
            async:false,
        }).done(function(data) {
            if(data.code==0){
                obj=data;
            }else{
                layer.msg("搜索失败");
            }
        }).fail(function(data) {
            layer.msg("搜索异常");
        });
        return obj;
    }

    /**
     * 执行添加
     */
    function add(index){
        var  venueNCategoryName = $("#showVenueCategoryName_add").val()

        console.log("venueNCategoryName",venueNCategoryName)

        $.ajax({
            url:"/gymBooking/venueCategoryApi/add",
            type: 'POST',
            dataType: 'json',
            traditional:true,
            data:{
                venueNCategoryName:venueNCategoryName
            },
            async:false,
        }).done(function(data) {
            if(data.code==20000){
                layer.msg("添加成功",{time:2500},function () {
                    layer.close(index)
                    history.go(0)
                });

            }else{
                layer.msg("添加失败");
            }
        }).fail(function(data) {
            layer.msg("添加异常");
        });
    }

    /**
     * 修改
     */
    function updateopen(id){
        $('#showinfo').hide();
        layer.open({
            type: 1,
            title:'修改',
            content: $('#showinfo') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });
        //根据id查找详情
        $.ajax({
            url:"/gymBooking/venueCategoryApi/getByid",
            type: 'POST',
            dataType: 'json',
            traditional:true,
            data: {
                id:id
            },
        }).done(function(data) {
            console.log(data)
            if(data.code!=20000){
                layer.msg("异常");
                return false;
            }
            $("#showVenueCategoryName").css({"margin":"10px 0 0 0"}).html('<input type="tel" name="venueNCategoryName_update" id="venueNCategoryName_update" placeholder="场地名称" value="'+data.data.venueCategoryName+'" class="layui-input">')

            var index = layer.open({
                type: 1,
                title:'添加',
                shade: 0,
                content: $('#showinfo') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
            $("#optionBtnBox ").html('<center><button class="layui-btn" id="update" onclick="update('+data.data.id+','+index+')">修改</button></center>')
            form.render()

        }).fail(function(data) {
            console.log(data)
        });
    }

    //执行修改
    function update(id,index) {
        console.log(id,index)
        console.log("venueNCategoryName_update:"+$("#venueNCategoryName_update").val())


        $.ajax({
            url:"/gymBooking/venueCategoryApi/add",
            type: 'POST',
            dataType: 'json',
            traditional:true,
            data:{
                id:id,
                venueNCategoryName:$("#venueNCategoryName_update").val(),
            },
            async:false,
        }).done(function(data) {
            if(data.code==20000){
                layer.msg("修改成功",{time:2500},function () {
                    layer.close(index)
                    history.go(0)
                });

            }else{
                layer.msg("修改失败");
            }
        }).fail(function(data) {
            layer.msg("修改异常");
        });

    }

</script>
